@using Components.Advanced.Client.Data
@using System.Diagnostics

<table class="table">
  <thead>
    <tr>
      <th>Guid</th>
      <th>Min</th>
      <th>Avg</th>
      <th>Max</th>
    </tr>
  </thead>
  <tbody>
    <Virtualize ItemsProvider="@LoadMeasurements" ItemSize="25" Context="measurement" OverscanCount="20">
      <ItemContent>
        <tr>
          <td>@measurement.Guid.ToString()</td>
          <td>@measurement.Min</td>
          <td>@measurement.Avg</td>
          <td>@measurement.Max</td>
        </tr>
      </ItemContent>
      <Placeholder>
        <tr><td colspan="4">Loading...</td></tr>
      </Placeholder>
    </Virtualize>
  </tbody>
</table>

@code {
  private async ValueTask<ItemsProviderResult<Measurement>> LoadMeasurements(ItemsProviderRequest request)
  {
    MeasurementsService measurementService = new MeasurementsService();
    var (measurements, totalItemCount) = await measurementService.GetMeasurementsPage
      (request.StartIndex, request.Count, request.CancellationToken);
    return new ItemsProviderResult<Measurement>(measurements, totalItemCount);
  }

  private Stopwatch timer = new Stopwatch();

  protected override async Task OnInitializedAsync()
  {
    timer.Start();
  }

  protected override void OnAfterRender(bool firstRender)
  {
    timer.Stop();
    Console.WriteLine($"Full rendering took {timer.ElapsedMilliseconds} ms.");
  }
}
