@if (Items is null || !Items.Any())
{
  <div>Loading...</div>
}
else
{
  <h1>@Title</h1>

  @foreach (var pizza in Items)
  {
    <PizzaItem Pizza="@pizza"
           ButtonClass="@ButtonClass"
           ButtonTitle="@ButtonTitle"
           Selected="@Selected" />
  }
}
